@import '../../node_modules/material-colors/dist/colors';

@import 'shadows.scss';

/* Variables */
$background: #121212;

/* Fonts */
@mixin font-default {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
}

/* Shadows */
@mixin shadow {
  box-shadow: $shadow-1dp;
}

@mixin shadow-light {
  box-shadow: $shadow-2dp;
}

@mixin shadow-medium {
  box-shadow: $shadow-4dp;
}

@mixin shadow-dark {
  box-shadow: $shadow-8dp;
}

/* Text */
@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
