@import '../../styles/variables';

.HomePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  @include fade-in;

  &-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 0;
  }

  &-buttons {
    display: flex;
    justify-content: center;
    height: 40px;

    .Button {
      min-width: 128px;
      margin: 0 16px;
    }

    &-login, &-register {
      opacity: 0;
      transition: opacity 0.5s ease;
    }

    &--show-login &-login {
      opacity: 1;
    }

    &--show-register &-register {
      opacity: 1;
    }
  }
}