@import '../../styles/variables';

.HomePage {
  &-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 512px;
  }

  &-bottom {
    margin-top: 64px;
  }

  &-divider {
    border: 0;
    height: 2px;
    width: 80%;
    min-width: 800px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, $md-orange-700 30%, $md-amber-300 70%, rgba(0, 0, 0, 0) 100%);
  }

  &-bottom, &-divider {
    opacity: 0;
    transform: translateY(10%);
    transition: all 0.5s ease;
  }

  &--loaded {
    .HomePage-bottom, .HomePage-divider {
      opacity: 1;
      transform: none;
    }
  }

  &-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
  }

  &-buttons {
    display: flex;
    justify-content: center;
    height: 40px;
    margin: 16px 0;

    .Button, &-placeholder {
      margin: 0 24px;
      min-width: 128px;
    }
  }

  &-cards {
    max-width: 70%;
    min-width: 800px;
    margin: auto;
  }
}
