@import '../../styles/variables';

.TestPage {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: calc(100% - 56px);
  align-items: center;
  justify-content: center;

  .Panel {
    margin: 16px;
  }
}
