@import '../../styles/variables';

.Logo {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  @include no-select;

  &-image {
    width: 128px;
  }

  &-text {
    @include font-raleway-light;
    font-size: 32px;
    letter-spacing: 4px;

    span {
      &:first-child {
        color: $md-orange-500;
      }

      &:last-child {
        color: $md-yellow-500;
      }
    }
  }
}
