@import '../styles/variables';

.HomeDescription {
  height: 32px;
  @include no-select;

  &-text {
    @include font-lato-light;
    font-size: 18px;
    line-height: 32px;
    color: $md-light-text-secondary;
  }
}
