@import '../styles/variables';

.Registration {
  h1 {
    @include font-raleway-regular;
    font-size: 24px;
  }

  .Panel {
    width: 320px;
  }

  &-form {
    margin: 16px 0;
  }

  &-login {
    font-size: 16px;
    text-align: center;
  }
}
