@import 'styles/common';
@import 'styles/media';
@import 'styles/variables';

body {
  margin: 0;
  background-image: url('/assets/background.png');
  background-color: $background;
  @include font-default;
}
