@import "../../styles/variables";

.Button {
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;

  position: relative;
  min-width: 80px;
  height: 40px;
  padding: 12px 16px;
  border-radius: 2px;

  @include font-lato-regular;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: capitalize;

  background-color: darken($md-grey-900, 5%);

  transition: background-color 0.2s ease,
              color 0.2s ease;

  &--default:not(&--disabled) {
    color: $md-amber-700;

    &.Button--hover {
      color: $md-light-text-primary;
    }
  }

  &--primary:not(&--disabled) {
    @include font-lato-bold;
    background-color: $md-amber-700;
    color: $md-dark-text-primary;

    &.Button--hover {
      background-color: $md-amber-900;
    }
  }

  &--primary.Button--disabled {
    color: $md-light-text-disabled;
    background-color: $md-blue-grey-900;
  }

  &--raised {
    box-shadow: 0 2px 5px 0 rgba($md-black, 0.26);
  }

  &--raised.Button--disabled {
    background-color: rgba($md-black, 0.12);
  }

  &--outline:not(&--primary):not(&--disabled) {
    outline: $md-amber-700 solid 1px;
    outline-offset: -1px;

    &.Button--hover {
      color: $md-dark-text-primary;
      background-color: $md-amber-900;
      outline: $md-amber-900 solid 1px;
    }
  }

  &--disabled {
    cursor: default;
  }
}
