@import "../../styles/variables";

.Button {
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;

  position: relative;
  min-width: 80px;
  height: 40px;
  padding: 12px 16px;

  @include font-lato-regular;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: capitalize;

  transition: all 0.2s linear;

  &--Circular {
    border-radius: 20px;
  }

  &--Rectangular {
    border-radius: 2px;
  }

  &--Rounded {
    border-radius: 10px;
  }

  &--default:not(&--disabled) {
    color: $md-amber-700;

    &.Button--hover {
      color: $md-light-text-primary;
    }
  }

  &--primary:not(&--disabled) {
    @include font-lato-bold;
    @include button-gradient($md-amber-300, $md-orange-700);

    color: $md-dark-text-primary;

    &.Button--hover {
      color: $md-light-text-primary;
      background-position: bottom left;
    }
  }

  &--primary.Button--disabled {
    @include button-gradient($md-grey-800, $md-blue-grey-900);
    color: $md-light-text-disabled;
  }

  &--raised {
    background-color: darken($md-blue-grey-900, 10%);
    @include shadow-light;
  }

  &--raised.Button--disabled {
    background-color: rgba(darken($md-blue-grey-900, 10%), 0.5);
  }

  &--outline:not(&--primary):not(&--disabled) {
    border: 1px solid $md-amber-700;

    &.Button--hover {
      color: $md-light-text-primary;
      border: 1px solid $md-amber-500;
    }
  }

  &--disabled {
    cursor: default;
  }
}
