@import "../../styles/variables";

.IconButton {
  border: 0;
  background: none;
  cursor: pointer;

  position: relative;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 50%;

  display: inline-flex;
  justify-content: center;

  transition: all 0.2s linear;

  &--default:not(&--disabled) {
    color: $md-light-text-primary;

    &:hover {
      color: $md-amber-700;
    }
  }

  &--primary:not(&--disabled) {
    color: $md-dark-text-primary;
    @include button-gradient($md-amber-300, $md-orange-700);

    &:hover {
      color: $md-light-text-primary;
      background-position: bottom left;
    }
  }

  &--primary.IconButton--disabled {
    @include button-gradient($md-grey-800, $md-blue-grey-900);
  }

  &--raised {
    @include shadow-medium;
  }

  &--raised.IconButton--disabled {
    background-color: rgba($md-black, 0.12);
  }

  .Icon {
    margin: auto;
    cursor: pointer;
  }

  &--disabled, &--disabled .Icon {
    cursor: default;
  }
}
